.home-background {
  background-image: url("../assets/rm314-adj-13.jpg");  
  background-size: cover;                   
  background-position: center center;       
  background-repeat: no-repeat;
}

.home-background::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.3); /* semi-transparent overlay */
  z-index: 0;
}

.home-background .webix_view {
  position: relative;
  z-index: 1;
}
